@font-face {
  font-family: 'GreycliffCF-Regular';
  src: url('fonts/greycliff-cf-regular.eot');
  src: url('fonts/greycliff-cf-regular.eot?#iefix') format('embedded-opentype'),
             url('fonts/greycliff-cf-regular.woff2') format('woff2'),
       url('fonts/greycliff-cf-regular.woff') format('woff'),
       url('fonts/greycliff-cf-regular.ttf') format('truetype'),
       url('fonts/greycliff-cf-regular.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GreycliffCF-ExtraBold';
  src: url('fonts/greycliff-cf-extra-bold.eot');
  src: url('fonts/greycliff-cf-extra-bold.eot?#iefix') format('embedded-opentype'),
             url('fonts/greycliff-cf-extra-bold.woff2') format('woff2'),
       url('fonts/greycliff-cf-extra-bold.woff') format('woff'),
       url('fonts/greycliff-cf-extra-bold.ttf') format('truetype'),
       url('fonts/greycliff-cf-extra-bold.svg#youworkforthem') format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GreycliffCF-Bold';
  src: url('fonts/greycliff-cf-bold.eot');
  src: url('fonts/greycliff-cf-bold.eot?#iefix') format('embedded-opentype'),
             url('fonts/greycliff-cf-bold.woff2') format('woff2'),
       url('fonts/greycliff-cf-bold.woff') format('woff'),
       url('fonts/greycliff-cf-bold.ttf') format('truetype'),
       url('fonts/greycliff-cf-bold.svg#youworkforthem') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GreycliffCF-ExtraBoldOblique';
  src: url('fonts/greycliff-cf-extra-bold-oblique.eot');
  src: url('fonts/greycliff-cf-extra-bold-oblique.eot?#iefix') format('embedded-opentype'),
             url('fonts/greycliff-cf-extra-bold-oblique.woff2') format('woff2'),
       url('fonts/greycliff-cf-extra-bold-oblique.woff') format('woff'),
       url('fonts/greycliff-cf-extra-bold-oblique.ttf') format('truetype'),
       url('fonts/greycliff-cf-extra-bold-oblique.svg#youworkforthem') format('svg');
  font-weight: 700;
  font-style: oblique;
}

@font-face {
  font-family: 'GreycliffCF-RegularOblique';
  src: url('fonts/greycliff-cf-regular-oblique.eot');
  src: url('fonts/greycliff-cf-regular-oblique.eot?#iefix') format('embedded-opentype'),
             url('fonts/greycliff-cf-regular-oblique.woff2') format('woff2'),
       url('fonts/greycliff-cf-regular-oblique.woff') format('woff'),
       url('fonts/greycliff-cf-regular-oblique.ttf') format('truetype'),
       url('fonts/greycliff-cf-regular-oblique.svg#youworkforthem') format('svg');
  font-weight: 400;
  font-style: oblique;
}

// $base-px: 1.6rem !default;
//
// html { font-size: 62.5%; }
//
// // 1.333 Perfect Fourth
// body {
// 	font-size: $base-px;
// 	line-height: 1.428;
// 	color: $black;
//   letter-spacing: 0.02em;
// 	@include print-styles($body);
// }
//
// h1 { font-size: 3.2rem; }
// h2 { font-size: 2.6rem; }
// h3 { font-size: 2.2rem; }
// h4 { font-size: 1.8rem; }
// h5 { font-size: 1.5rem; }
//
// h1, h2, h3, h4, h5, h6 { font-family: inherit; }
//
// h1, h2, h3, h4, h5, h6 {
// 	color: inherit;
// 	line-height: 1.25;
//   margin-top: 1em;
//   margin-bottom: 0.5em;
// 	@include print-styles($headings);
// }
//
// p {
// 	font-size: 1.5rem;
// 	line-height: 1.7;
//   margin: 1em 0;
// }
//
// p.lead {
// 	font-size: 1.8rem;
//   font-family: "GreycliffCF-ExtraBoldOblique", sans-serif;
//   font-weight: 700;
//   font-style: oblique;
// }
//
// p.meta {
//   color: $red;
//   text-transform: uppercase;
//   letter-spacing: 0.1em;
// }
//
// strong {
//   font-family: 'GreycliffCF-Bold', sans-serif;
//   font-weight: 500;
// }
//
// em {
//   font-family: 'GreycliffCF-RegularOblique', sans-serif;
//   font-style: oblique;
// }
//
// ol, ul, dl {
// 	margin-top: 0;
// 	margin-bottom: 10px;
// 	&:last-child {
// 		margin-bottom: 0;
// 	}
// }
//
// a, a:hover {
// 	color: $blue;
// 	text-decoration: none;
// }
//
// .button, button {
//   display: inline-block;
//   @include print-styles($headings);
//   font-size: 1.5rem;
//   border: 1px solid $border;
//   padding: 1rem 1.8rem;
//   margin: 0 .8em 1em 0;
//   border: 0;
//   letter-spacing: 1px;
//   color: $black;
//   text-align: center;
//   white-space: nowrap;
//   vertical-align: middle;
//   background-color: $white;
//   cursor: pointer;
//   outline: none;
//   box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
//   transition: background-color .5s;
//
//   &.disabled {
//     pointer-events: none;
//   }
//
//   &:hover {
//     background-color: darken($white, 10%);
//     color: $black;
//   }
//
// }
//
// [class*="button-"] {
//   color: white;
//
//   &:hover {
//     color: $white;
//   }
// }
//
// .button-primary {
//   background-color: $blue;
//
//   border-color: darken($blue, 10%);
//
//   &.disabled {
//     background-color: lighten($blue, 20%);
//   }
//
//   &:hover {
//     background-color: darken($blue, 5%);
//   }
// }
//
// .button-error {
//   background-color: $red;
//   transition: background-color .5s;
//   border-color: darken($red, 10%);
//
//   &.disabled {
//     background-color: lighten($red, 20%);
//   }
//
//   &:hover {
//     background-color: darken($red, 5%);
//   }
// }
//
// .button-warning {
//   background-color: $yellow;
//   transition: background-color .5s;
//   border-color: darken($yellow, 10%);
//
//   &.disabled {
//     background-color: lighten($yellow, 20%);
//   }
//
//   &:hover {
//     background-color: darken($yellow, 5%);
//   }
// }
//
// .button-secondary {
//   background-color: $green;
//   transition: background-color .5s;
//   border-color: darken($green, 10%);
//
//   &.disabled {
//     background-color: lighten($green, 20%);
//   }
//
//   &:hover {
//     background-color: darken($green, 5%);
//   }
// }
